@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Roboto", sans-serif;
}

.text-great-vibes {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.text-married {
  font-family: "Marmelad", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}

.text-married-signature {
  font-family: "Oooh Baby", cursive;
  font-weight: 400;
  font-style: normal;
}

@keyframes colorChange {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #df4758;
  }
  100% {
    background-color: transparent;
  }
}

.button-music {
  animation: colorChange 2s linear infinite;
}

.section-hero .carousel-hero img {
  width: 100%;
  object-fit: cover;
}

.section-countdown {
  background-image: url(./assets/images/bgr-countdown.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
}

.section-countdown::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 1;
}

/* Tùy chỉnh thanh cuộn cho trình duyệt WebKit-based */
body::-webkit-scrollbar {
  width: 8px; /* Chiều rộng của thanh cuộn */
}

body::-webkit-scrollbar-thumb {
  background-color: pink; /* Màu nền của phần "nút" cuộn */
  border-radius: 6px; /* Độ cong góc */
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Màu nền của phần dọc theo thanh cuộn */
}

.footer-content::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -50px;
  background-image: url(./assets/images/imgSvg/flower-small.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 80px;
  height: 71px;
  transform: rotate(-130deg);
}

.footer-content::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -50px;
  background-image: url(./assets/images/imgSvg/flower-small.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 80px;
  height: 71px;
  transform: rotate(50deg);
}
